<form [formGroup]="registerForm" (ngSubmit)="createSkyway()" class="">
	<label>Datos de Petición</label>

	<div class="row my-2">
		<div class="col-6">
			<input required formControlName="origen" (input)="checkInput()"
				name="origen" placeholder="Origen" type="text" class="form-control" >
		</div>
		<div class="col-6">
			<input required formControlName="destino" (input)="checkInput()"
				name="destino" placeholder="Destino" class="form-control" >
		</div>
	</div>

	<div *ngIf="checkInvalidInput(f['origen'])" class="alert alert-danger">
		El origen debe tener tres letras.
	</div>

	<div *ngIf="checkInvalidInput(f['destino'])" class="alert alert-danger">
		El destino debe tener tres letras.
	</div>

	<div *ngIf="equals" class="alert alert-danger">
		Ambos campos deben ser diferentes entre si.
	</div>

	<div class="centrado">
		<button [disabled]="validInputs" class="btn btn-primary" >Generar ruta de vuelo</button>
	</div>
</form>
