<p>user-form-input works! {{requestData | json}}</p>


<form [formGroup]="registerForm" (ngSubmit)="createSkyway()" class="">
	<label>Datos de Petición</label>

	<div class="row my-2">
		<div class="col-6">
			<input required formControlName="origen" (input)="checkInput()"
				name="origen" placeholder="Origen" type="text" class="form-control" >
		</div>
		<div class="col-6">
			<input required formControlName="destino" (input)="checkInput()"
				name="destino" placeholder="Destino" class="form-control" >
		</div>
	</div>


	<div class="centrado">
		<button class="btn btn-primary" >ENVIAR PETICIÓN</button>
	</div>
	<div *ngIf="invalid" class="alert alert-danger">
		Ambos campos deben ser diferentes entre si.
	</div>

	<div *ngIf="checkInputEmpty(f['origen'])" class="alert alert-danger">
		El origen es requerido
	</div>

	<div *ngIf="checkInputEmpty(f['destino'])" class="alert alert-danger">
		El destino es requerido
	</div>

	{{this.registerForm.value | json}}
</form>
