<div class="centrado mt-3" *ngIf="!existFlights()">
	<div class="spinner-grow text-light" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>

<form [formGroup]="registerForm" (ngSubmit)="createSkyway()" *ngIf="existFlights()">
	<div class="d-flex justify-content-center">
		<h1 class="text-white">🛫Rutas de vuelo🛬</h1>
	</div>

	<div class="row my-2">
		<div class="col-6">
			<input required formControlName="origen" (input)="checkInputs()"
				name="origen" placeholder="Origen" type="text" class="form-control" >
		</div>
		<div class="col-6">
			<input required formControlName="destino" (input)="checkInputs()"
				name="destino" placeholder="Destino" class="form-control" >
		</div>
	</div>

	<div *ngIf="checkSite(f['origen'].value)" class="alert alert-danger">
		El origen no se encuentra disponible.
	</div>

	<div *ngIf="checkSite(f['destino'].value)" class="alert alert-danger">
		El destino no se encuentra disponible.
	</div>

	<div *ngIf="checkInvalidInput(f['origen'])" class="alert alert-danger">
		El origen debe tener tres letras.
	</div>

	<div *ngIf="checkInvalidInput(f['destino'])" class="alert alert-danger">
		El destino debe tener tres letras.
	</div>

	<div *ngIf="equals" class="alert alert-danger">
		Ambos campos deben ser diferentes entre si.
	</div>

	<div class="centrado">
		<button [disabled]="!validInputs" class="btn btn-primary mt-2">
			<span class="material-symbols-outlined">
				flight_takeoff
			</span>
			Generar ruta de vuelo</button>
	</div>
</form>
