<div class="row my-3">
  <div class="col">
    <h3 *ngIf="converType" class="text-white">Convirtiendo tipo de moneda...</h3>
    <h3 *ngIf="!converType" class="text-white">Precio total de la ruta: {{
      (price != undefined ? price : '0') | currency:typeCurrency
    }}</h3>
  </div>
  <div class="col">
    <select class="form-select" (change)="convertCurrency()" [(ngModel)]="typeCurrency">
      <option [selected]="typeCurrency == 'USD'" default value="USD">Dolar</option>
      <option value="COP">Peso Colombiano</option>
      <option value="EUR">Euro</option>
      <option value="JPY">Yen Japonés</option>
    </select>
  </div>
</div>


